[submodule "vendor/drag-stuff"]
	path = vendor/drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/rails-mode"]
	path = vendor/rails-mode
	url = http://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "vendor/google-maps"]
	path = vendor/google-maps
	url = git://git.naquadah.org/~jd/jd-el.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = http://github.com/eschulte/rhtml.git
